<div class="flex-column">
  <div class="flex-row col-end static">
    <asi-select label="Compose" labelPosition="top" [data]="composes" [(ngModel)]="selectedCompose"
      (onValueChange)="selectCompose($event)">
      <asi-empty *asiEmptyDef="let data">Please select or add a new compose</asi-empty>
      <asi-selected *asiSelectedDef="let data">{{data?.name}}</asi-selected>
      <asi-option *asiOptionDef="let data">{{data?.name}}</asi-option>
    </asi-select>
    <!-- scan -->
    <button id="compose_scan" type="button" (click)="scanComposes()" class="small-icon-action-button tooltip-left"
    [attr.asi-tooltip]="'Scan'">
      <i class="fas fa-search"></i>
    </button>
  </div>
  <br />
  <span class="ml-5">default compose folder : {{ defaultComposeFolder }}</span>
  <form [formGroup]="composeForm" class="flex-column" (ngSubmit)="onFormSubmit()">
    <div class="flex-row static col-start">

      <div class="flex-column">
        <asi-input label="Name (stack)" labelPosition="left" formControlName="name"></asi-input>
        <error-messages forName="name">
          <message error="required" value="Name should not be empty" [onSubmit]="true"></message>
        </error-messages>
      </div>

      <div class="flex-row static" *ngIf="!selectedCompose">
        <!-- add -->
        <button id="compose_add" type="submit" class="small-icon-action-button tooltip-left" [attr.asi-tooltip]="'Create'">
          <i class="fas fa-plus-circle"></i>
        </button>
      </div>

      <div class="flex-row static" *ngIf="selectedCompose">
        <!-- valid edit -->
        <button id="compose_edit_valid" type="submit" class="small-icon-action-button" [attr.asi-tooltip]="'Valide'">
          <i class="fas fa-check"></i>
        </button>

        <!-- cancel edit -->
        <button id="compose_edit_cancel" type="button" (click)="endEditCompose()" class="small-icon-action-button" [attr.asi-tooltip]="'Cancel'">
          <i class="fas fa-times"></i>
        </button>

        <!-- up -->
        <button id="compose_up" type="button" (click)="upCompose()" class="small-icon-action-button" [attr.asi-tooltip]="'Compose up'">
          <i class="fas fa-arrow-alt-circle-up"></i>
        </button>

        <!-- down -->
        <button id="compose_down" type="button" (click)="downCompose()" class="small-icon-action-button" [attr.asi-tooltip]="'Compose down'">
          <i class="fas fa-arrow-alt-circle-down"></i>
        </button>

        <!-- down -->
        <button id="compose_delete" type="button" (click)="deleteCompose()" class="small-icon-action-button tooltip-left" [attr.asi-tooltip]="'Delete'">
          <i class="fas fa-trash"></i>
        </button>
      </div>
    </div>
    <div class="flex-column">
      <error-messages forName="compose">
        <message error="required" value="Compose should not be empty" [onSubmit]="true"></message>
      </error-messages>
      <monaco-editor formControlName="compose"></monaco-editor>
    </div>
  </form>
</div>
