app-root {
  .asi-table {
    table {
      tbody {
        tr {
          height: 25px;
          &:hover {
            background-color: #eeeeee;
          }
          td {
            padding: 0 3px;
            height: 15px;

            .asi-input {
              margin: 3px 0;

              input {
                box-shadow: none;
              }
            }
          }
        }
      }
    }
  }
}
