app-root {
  .asi-table {
    table {
      tbody {
        tr {
          height: 25px;
          td {
            padding: 0 3px;
            height: 15px;

            .asi-input {
              margin : 3px 0px 3px 0px;
              input{
                box-shadow: none;
              }
            }
          }
        }
      }
    }
  }
}
