#univ-header{

  background-image: url('../../assets/background-header.png');
  background-attachment: fixed;

  // background-color : @univ-secondary-color;
  height : 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  
  label {
    margin-left : 15px;
    color : white;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    padding: 10px 0;
  }

  .logo{
    height: 50px;
    width: auto;
    margin-left: 20px;
  }

  .server-header {
    .asi-button {
      button {
        border-radius: 5px;
        color: rgb(226, 226, 226);
        background-color: transparent;
        font-size: large;
        i {
          color: #00c099;
        }
        &:hover {
          color: white !important;
          border: none;
          transition: color 0.2s ease-in-out;
          i {
            color: #50b7f6;
            transition: color 0.2s ease-in-out;
          }
        }
      }
    }
  }
}
