#univ-header{

  background-image: url('../../assets/background-header.png');
  background-attachment: fixed;

  // background-color : @univ-secondary-color;
  height : 50px;
  display: flex;
  flex-direction: row;

  label {
    margin-left : 15px;
    margin-top : 15px;
    color : white;
    text-align: center;
  }

  .logo{
    height: 50px;
    width: auto;
    margin-left: 20px;
  }
}
