<div class="flex-row" fxLayoutAlign="space-between" fxFlex="0 0 auto">
  <asi-checkbox label="Show only active : " labelPosition="left" [(ngModel)]="this.server.onlyActive" (onValueChange)="onShowOnlyActiveChanged()"></asi-checkbox>
  <asi-button (click)="updateProxyConf()">Update proxy</asi-button>
</div>

<asi-table #containersTable [autoSort]="true" [selectionModel]="serverSelectionModel" [onRequestData]="refreshTable">
  <asi-table-column name="proxified" type="checkbox"></asi-table-column>
  <asi-table-column name="state" libelle="" sortName="State" [sortable]="true">
    <asi-cell *asiCellDef="let container">
      <asi-fa-icon icon="fa fa-power-off" [ngClass]="container.State"></asi-fa-icon>
    </asi-cell>
  </asi-table-column>
  <asi-table-column name="name" libelle="Name" [sortable]="true">
    <asi-cell *asiCellDef="let container">
      <div class="flex-row col-center">
        <span>{{ container.name }}</span>
      </div>
    </asi-cell>
  </asi-table-column>
  <asi-table-column name="action" libelle="action">
    <asi-cell *asiCellDef="let container">
      <div class="flex-row">
        <asi-fa-icon *ngIf="container.State === 'running'" icon="fas fa-stop" size="1x" tooltip="stop" (click)="stopContainer(container)"></asi-fa-icon>
        <asi-fa-icon *ngIf="container.State !== 'running'" icon="fas fa-play" size="1x" tooltip="start" (click)="startContainer(container)"></asi-fa-icon>
        <asi-fa-icon icon="fas fa-sync-alt" size="1x" tooltip="recreate" (click)="recreateContainer(container)"></asi-fa-icon>
      </div>
    </asi-cell>
  </asi-table-column>
  <asi-table-column name="image" libelle="Image">
    <asi-cell *asiCellDef="let container">
      <div class="flex-row col-center">
        <span>{{container.imageName}}</span>
        <asi-fa-icon icon="fa fa-info-circle" size="1x" [tooltip]="container.ImageID"></asi-fa-icon>
      </div>
    </asi-cell>
  </asi-table-column>
  <asi-table-column name="proxy" libelle="Proxy - Path">
    <asi-cell *asiCellDef="let container">
      <asi-input [(ngModel)]="container.proxyPath"></asi-input>
    </asi-cell>
  </asi-table-column>
  <asi-table-column name="proxy" libelle="ProxyPass">
    <asi-cell *asiCellDef="let container">
      <asi-input [(ngModel)]="container.proxyPass"></asi-input>
    </asi-cell>
  </asi-table-column>
  <asi-table-column name="proxy" libelle="Tag">
    <asi-cell *asiCellDef="let container">
      <asi-input [(ngModel)]="container.tag"></asi-input>
    </asi-cell>
  </asi-table-column>
  <asi-table-column name="proxy" libelle="Info">
    <asi-cell *asiCellDef="let container">
      <asi-fa-icon icon="fa fa-info-circle" size="1x" [tooltip]="container.tooltip"></asi-fa-icon>
    </asi-cell>
  </asi-table-column>
</asi-table>
