server-page {

  display: flex;
  flex-direction: column;
  flex: 1 0 auto;

  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 15px;

  .show-proxy {
    label.input-label {
      color: white;
    }
  }

  .asi-table table thead tr th {
    padding-right: 10px;
  }

  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    height: 40px;
    border-radius: 10px;
    border: 1px solid grey;
    margin: 10px;

    > span {
      margin: 5px;
    }
  }

  table {
    ul {
      margin: 0;
      list-style: none;
    }

    .tag-col {
      max-width: 90px;
    }

    .check-col {
      max-width: 9px;
    }

    .port-col {
      max-width: 160px;
    }

    .proxypass-col {
      max-width: 120px;
    }

    .proxypath-col {
      max-width: 120px;
    }
  }

  .server-header {

    height: 60px;

    .asi-button > button {
      max-height: 35px;
      padding: 5px;
    }

    .action-button {
      i {
        margin-right: 10px;
        color: lawngreen;
      }
    }
  }

  .asi-fa-icon {
    &.running {
      .fa-power-off:not([disabled]) {
        color: green;
      }
    }

    &.exited {
      .fa-power-off:not([disabled]) {
        color: red;
      }
    }

    .fa-play:not([disabled]) {
      color: green;
    }

    .fa-stop:not([disabled]) {
      color: red;
    }

    .fa-sync:not([disabled]) {
      color: lawngreen;
    }
  }
}
