server-page {

  display: flex;
  flex-direction: column;
  flex: 1 0 auto;

  margin-left: 100px;
  margin-right: 100px;

  .asi-table table thead tr th {
    padding-right: 10px;
  }

  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    height: 40px;
    border-radius: 10px;
    border: 1px solid grey;
    margin: 10px;

    > span {
      margin: 5px;
    }
  }

  .asi-fa-icon {
    &.running {
      .fa-power-off:not([disabled]) {
        color: green;
      }
    }

    &.exited {
      .fa-power-off:not([disabled]) {
        color: red;
      }
    }

    button:not([disabled]) {
      color: grey;
    }

    .fa-play:not([disabled]) {
      color: green;
    }

    .fa-stop:not([disabled]) {
      color: red;
    }

    .fa-sync-alt:not([disabled]) {
      color : blue;
    }

  }

}
