<div class="logo-panel">
  <img class="logo" src="./assets/docker.png" />
  <label> Bifröst </label>
</div>

<nav class="nav-panel flex">
  <asi-menu [vertical]="true">
    <asi-menu-item [routerLink]="['docker']">
      <div class="flex-row col-center">
        <div class="menu-icon docker"></div>
        <span> Docker </span>
      </div>
    </asi-menu-item>
    <asi-menu-item [routerLink]="['proxy']">
      <div class="flex-row col-center">
        <div class="menu-icon proxy"></div>
        <span> Proxy </span>
      </div>
    </asi-menu-item>
    <asi-menu-item [routerLink]="['compose']">
      <div class="flex-row col-center">
        <div class="menu-icon compose"></div>
        <span> Compose </span>
      </div>
    </asi-menu-item>
    <asi-menu-item [routerLink]="['web-upload']">
      <div class="flex-row col-center">
        <div class="menu-icon upload"> </div>
        <span> Web Upload </span>
      </div>
    </asi-menu-item>
    <!-- <asi-nav [routerLink]="['task-helper']">
      <div class="flex-row col-center">
        <div class="menu-icon task"></div>
        <span> Task </span>
      </div>
    </asi-nav> -->
    <!-- <asi-nav [routerLink]="['ssh']">
      <div class="flex-row col-center">
        <div class="menu-icon ssh"></div>
        <span> SSH </span>
      </div>
    </asi-nav> -->
  </asi-menu>
</nav>
