<div class="flex-row">
  <div class="loginLeftPanel" class="flex-column center row-center">
    <div class="logoPanel">
      <img class="logo" src="./assets/docker.png" />
      <label> Bifröst </label>
    </div>
  </div>

  <div class="flex-column center row-center" class="loginRightPanel">
    <div class="loginFormPanel">
      <h1>Please log in</h1>
      <form [formGroup]="loginForm" (ngSubmit)="submit()" class="loginForm" name="login-form" id="login-form">
          <div class="asi-container">
            <asi-input-icon icon="fa fa-user" name="email" id="email" label="page.login.form.email" iconPosition="left" formControlName="email"></asi-input-icon>
            <error-messages forName="email">
              <message error="email" value="validations.email"></message>
              <message error="required" value="validations.required" onSubmit="true"></message>
            </error-messages>
          </div>
          <div class="asi-container">
            <asi-input-icon icon="fa fa-lock" name="password" id="password" label="page.login.form.password" type="password" iconPosition="left" formControlName="password"
              name="password"></asi-input-icon>
            <error-messages forName="password">
              <message error="required" value="validations.required" onSubmit="true"></message>
            </error-messages>
          </div>
        <div class="flex-row center">
          <asi-button type="submit">Login</asi-button>
        </div>
      </form>
    </div>
  </div>

</div>
