<div class="flex-column">

  <form [formGroup]="newProxyForm" class="flex-row col-center static panel" (ngSubmit)="addProxy()">
    <div class="flex-column row-start">
      <asi-input labelPosition="left" label="Name" formControlName="name"></asi-input>
      <asi-input labelPosition="left" label="Path" formControlName="path"></asi-input>
      <asi-input labelPosition="left" label="Proxy Path" formControlName="proxyPass"></asi-input>
    </div>
    <asi-button type="submit">Add</asi-button>
  </form>

  <asi-table #containersTable [autoSort]="true" [selectionModel]="proxysSelectionModel" [onRequestData]="refreshTable">

    <asi-table-column name="proxified" type="checkbox" columnClass="check-col"></asi-table-column>

    <asi-table-column name="name" libelle="Name" sortName="State" [sortable]="true" columnClass="name-col">
      <asi-cell *asiCellDef="let proxy">
        <span> {{proxy.name }} </span>
      </asi-cell>
    </asi-table-column>

    <asi-table-column name="proxy" libelle="Proxy - Path" columnClass="proxypath-col">
      <asi-cell *asiCellDef="let proxy">
        <span> {{proxy.path }} </span>
      </asi-cell>
    </asi-table-column>

    <asi-table-column name="proxy" libelle="ProxyPass" columnClass="proxypass-col">
      <asi-cell *asiCellDef="let proxy">
        <span> {{proxy.proxyPass }} </span>
      </asi-cell>
    </asi-table-column>

    <asi-table-column name="action" libelle="" columnClass="action-col">
      <asi-cell *asiCellDef="let proxy" class="flex-row static center">
        <asi-button id="proxy_edit" class="icon-action-button" (click)="editProxy(proxy)">
          <i class="far fa-edit"></i>
          <span>edit</span>
        </asi-button>
        <asi-button id="proxy_delete" class="icon-action-button" (click)="removeProxy(proxy)">
          <i class="far fa-trash-alt"></i>
          <span>delete</span></asi-button>
      </asi-cell>
    </asi-table-column>
  </asi-table>
</div>
