<div class="flex-column">
  <form [formGroup]="proxyForm" class="flex-row col-center static panel" (ngSubmit)="submitProxy()">
    <div class="flex-row col-end">
      <asi-input labelPosition="left" label="Name" labelPosition="top" formControlName="name"></asi-input>
      <asi-input labelPosition="left" label="Path" labelPosition="top" formControlName="path"></asi-input>
      <asi-input labelPosition="left" label="Proxy Path" labelPosition="top" formControlName="proxyPass"></asi-input>
      <!-- add -->
      <button id="proxy_add" type="submit" *ngIf="!editedProxy" class="small-icon-action-button tooltip-left"
        [attr.asi-tooltip]="'Add proxy'">
        <i class="fas fa-plus-circle"></i>
      </button>

      <!-- valid edit -->
      <button id="proxy_valide_edit" type="submit" *ngIf="editedProxy" class="small-icon-action-button"
        [attr.asi-tooltip]="'Valide edit'">
        <i class="fas fa-check"></i>
      </button>

      <!-- cancel edit -->
      <button id="proxy_valide_cancel" type="button" (click)="endEditProxy()" *ngIf="editedProxy"
        class="small-icon-action-button" [attr.asi-tooltip]="'Cancel edit'">
        <i class="fas fa-times"></i>
      </button>
    </div>
  </form>

  <div class="table-action-container">
    <div class="table-action-panel">
      <!-- error logs -->
      <a id="show_errors_logs" class="small-icon-action-button tooltip-left" [attr.asi-tooltip]="'Show errors logs'"
        href="/bifrost/app/proxy/logs/error">
        <i class="fas fa-file-alt"></i>
      </a>

      <!-- access logs -->
      <a id="show_acces_logs" class="small-icon-action-button tooltip-left" [attr.asi-tooltip]="'Show access logs'"
        href="/bifrost/app/proxy/logs/access">
        <i class="far fa-file-alt"></i>
      </a>

      <!-- update proxy -->
      <button id="show_acces_logs" type="button" class="small-icon-action-button tooltip-left"
        [attr.asi-tooltip]="'Reload proxy conf'" (click)="reloadProxyConf()">
        <i class="fas fa-network-wired"></i>
      </button>
    </div>

    <asi-table #containersTable [autoSort]="true" [selectionModel]="proxysSelectionModel"
      [onRequestData]="refreshTable">

      <asi-table-column name="name" libelle="Name" [sortable]="true" columnClass="name-col">
        <asi-cell *asiCellDef="let proxy">
          <span> {{proxy.name }} </span>
        </asi-cell>
      </asi-table-column>

      <asi-table-column name="proxy" libelle="Proxy - Path" columnClass="proxypath-col">
        <asi-cell *asiCellDef="let proxy">
          <asi-input [delay]="1000" [(ngModel)]="proxy.path" (onValueChange)="updateProxy(proxy)"></asi-input>
        </asi-cell>
      </asi-table-column>

      <asi-table-column name="proxyPass" libelle="ProxyPass" [sortable]="true" columnClass="proxypass-col">
        <asi-cell *asiCellDef="let proxy">
          <asi-input [delay]="1000" class="table-input" [(ngModel)]="proxy.proxyPass" (onValueChange)="updateProxy(proxy)"></asi-input>
        </asi-cell>
      </asi-table-column>

      <asi-table-column name="rewrite" libelle="Rewrite" [sortable]="true" columnClass="rewrite-col">
        <asi-cell *asiCellDef="let proxy">
          <asi-input [delay]="1000" class="table-input" [(ngModel)]="proxy.rewrite" (onValueChange)="updateProxy(proxy)"></asi-input>
        </asi-cell>
      </asi-table-column>

      <asi-table-column name="action" libelle="" columnClass="action-col">
        <asi-cell *asiCellDef="let proxy" class="flex-row static center">
          <button id="proxy_edit" type="button" class="small-icon-action-button" [attr.asi-tooltip]="'Edit proxy'"
            (click)="startEditProxy(proxy)">
            <i class="fas fa-edit"></i>
          </button>
          <button id="proxy_delete" type="button" class="small-icon-action-button" [attr.asi-tooltip]="'Delete proxy'"
            (click)="deleteProxy(proxy)">
            <i class="fas fa-trash-alt"></i>
          </button>
        </asi-cell>
      </asi-table-column>
    </asi-table>
  </div>
</div>
