@asi-table-header-height: 40px;
@asi-table-header-th-border: 2px solid  @univ-secondary-color;
@asi-table-header-tr-border: 1px solid @univ-secondary-color;
@asi-table-header-box-shadow: 0 0 1px @univ-secondary-color;
@asi-table-header-background-color: @univ-secondary-color;
@asi-table-header-text-color: white;
@asi-table-body-1-color: transparent;
@asi-table-body-2-color: transparent;
@asi-table-body-tr-border: 1px solid @univ-secondary-color;
@asi-table-body-td-border: none;
@asi-table-body-td-text-color: inherit;
@asi-table-body-line-height: 35px;
@asi-table-body-line1-color: white;
@asi-table-body-line2-color: white;
