@asi-table-header-height: 40px;
@asi-table-header-th-border: 2px solid grey;
@asi-table-header-tr-border: 1px solid transparent;
@asi-table-header-box-shadow: 0 0 1px @univ-secondary-color;
@asi-table-header-background-color: #efefefe6;
@asi-table-header-text-color: black;
@asi-table-body-1-color: none;
@asi-table-body-2-color: none;
@asi-table-body-tr-border: 1px solid lightgrey;
@asi-table-body-td-border: none;
@asi-table-body-td-text-color: #5b5b5b;
@asi-table-body-line-height: 35px;
@asi-table-body-line1-color:  transparent;
@asi-table-body-line2-color: transparent;

@asi-button-background-color: #222;
@asi-button-label-color: white;
@asi-button-border: 1px solid transparent;
@asi-button-border-radius: 20px;
@asi-button-hover-background-color: white;
@asi-button-hover-border: 1px solid #222;

.asi-button {
  button:not(:disabled) {
    &:hover {
      color: black !important;
    }
  }
}

@asi-checkbox-checked-background-color : #555;
@asi-checkbox-border: 1px solid #555;

.asi-checkbox  {
  button {
    border-radius: 5px;
  }
  .checkbox {
    box-shadow: inset 0 1px 3px rgba(0,0,0, .25);
    &:focus {
      border: 1px solid #3a3a3a;
    }
    &.checked {
      border: none;
      box-shadow: 0 1px 3px rgba(0,0,0, .25);
      background-color: #0cb2a4e6;
      .checkbox-button {
        border-left: 1.5px solid white;
        border-bottom: 1.5px solid white;
      }
    }
  }
}

.asi-table table{
  tbody {
    background-color: none;
    &:nth-child(odd) tr{
      background-color: rgba(255, 255, 255, 0.6);
    }
    &:nth-child(even) tr{
      background-color: rgba(255, 255, 255, 0.5);
    }
  }
  asi-input input, .asi-input input {
    box-shadow: inset 0px 0px 3px 0px #e3e3e3 !important;
    border: 1px solid #b8b7b7;
    border-radius: 4px;
  }
}