@import "../../../node_modules/@asi-ngtools/lib/styles/less/asingtools.less";
@import "./lessvars.less";
@import "./asi-ngtools-override.less";
@import "./components/component.less";
@import "./pages/page.less";

html {
  height: 100%;
  position: relative;

  body {
    height: 100%;
    position: relative;
    display: flex;
    margin: 0;
    flex: 1 0 auto;
    flex-direction: column;

    background: #0f2027; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #2c5364,
      #203a43,
      #0f2027
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #2c5364,
      #203a43,
      #0f2027
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .ml-5 {
    margin-left: 5px;
  }

  .small-icon-action-button {
    display: flex;
    justify-content: center;
    align-items: center;

    color: @bifrost-primary-color;

    background: white;
    padding: 6px;
    border-radius: 20px;
    border: 1px solid @bifrost-secondary-color;
    margin: 3px;

    width: 30px;
    height: 30px;

    &:hover {
      color: @bifrost-active-color;
    }
  }

  .flex-column {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;

    &.start {
      justify-content: flex-start;
    }

    &.center {
      justify-content: center;
    }

    &.row-start {
      align-items: flex-start;
    }

    &.row-end {
      align-items: flex-end;
    }

    &.row-center {
      align-items: center;
    }

    &.static {
      flex: 0 0 auto;
    }
  }
  .flex-row {
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;

    &.center {
      justify-content: center;
    }

    &.start {
      justify-content: flex-start;
    }

    &.end {
      justify-content: flex-end;
    }

    &.space-between {
      justify-content: space-between;
    }

    &.col-end {
      align-items: flex-end;
    }

    &.col-center {
      align-items: center;
    }

    &.static {
      flex: 0 0 auto;
    }
  }

  app-root {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;

    p,
    span,
    div,
    label,
    button:not(.fa) {
      font-family: @font-regular;
    }

    .flex {
      flex: 1;
    }

    .icon-action {
      color: @bifrost-primary-color;
    }

    .icon-action-button {
      i {
        margin-right: 10px;
        color: @bifrost-primary-color;
      }
      &:hover {
        i {
          color: @bifrost-active-color;
        }
      }
    }

    .clickable {
      cursor: pointer;
    }
  }
}
