@import "../../../node_modules/@asi-ngtools/lib/styles/less/asingtools.less";
@import "./lessvars.less";
@import "./asi-ngtools-override.less";
@import "./components/component.less";
@import "./pages/page.less";
@import "./pages/app-root.less";

html {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  font-family: "Open sans", Futura, Arial, sans-serif;
  height: 100%;

  body {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    margin: 0;
    flex-direction: horizontal;
  }
}
