<form [formGroup]="folderForm" class="flex-row col-center static panel" (ngSubmit)="submitFolder()">
  <div class="flex-row col-end">
    <asi-input labelPosition="left" label="Folder name" labelPosition="top" formControlName="libelle"></asi-input>
    <asi-input labelPosition="left" label="Path" labelPosition="top" formControlName="path"></asi-input>

    <!-- add -->
    <button id="folder_add" type="submit" *ngIf="!editedFolder" class="small-icon-action-button tooltip-left"
    [attr.asi-tooltip]="'Add'">
      <i class="fas fa-plus-circle"></i>
    </button>

    <!-- valide edit -->
    <button id="folder_edit_valid" type="submit" *ngIf="editedFolder"
    class="small-icon-action-button" [attr.asi-tooltip]="'Valide edit'">
      <i class="fas fa-check"></i>
    </button>

    <!-- cancel edit -->
    <button id="proxy_edit_cancel" type="button" (click)="endEditFolder()" *ngIf="editedFolder"
      class="small-icon-action-button" [attr.asi-tooltip]="'Cancel edit'">
      <i class="fas fa-times"></i>
    </button>
  </div>
</form>

<div class="uploadable-folder-container">
  <div class="uploadable-folder" *ngFor="let uploadableFolder of uploadableFolders; let i = index">
    <div class="flex-row col-center space-between">
      <strong>{{uploadableFolder.folder.libelle}}</strong>
      <div class="flex-row static">
        <!-- Show content -->
        <button id="show-content" class="small-icon-action-button" [disabled]="uploadableFolder.progress"
          (click)="showFolderContent(uploadableFolder.folder)" [attr.asi-tooltip]="'Show content'">
          <i class="fas fa-list clickable icon-action"></i>
        </button>
        <!-- Edit -->
        <button id="start-edit" class="small-icon-action-button" [disabled]="uploadableFolder.progress"
          (click)="startEditFolder(uploadableFolder.folder)" [attr.asi-tooltip]="'Edit'">
          <i class="far fa-edit clickable icon-action"></i>
        </button>
        <!-- Delete -->
        <button id="delete-folder" class="small-icon-action-button" [disabled]="uploadableFolder.progress"
          (click)="deleteFolder(uploadableFolder.folder)" [attr.asi-tooltip]="'Delete'">
          <i class="far fa-trash-alt clickable icon-action"></i>
        </button>
      </div>
    </div>
    <div class="flex-row space-between">
      <span class="tooltip-left" [attr.asi-tooltip]="uploadableFolder.folder.path">{{uploadableFolder.folder.path | asiLast : 35}}</span>
      <span [hidden]="!uploadableFolder.progress">{{uploadableFolder.progress}}%</span>
    </div>
    <asi-file-chooser name="file" [accept]="acceptedFiles" [disabled]="uploadableFolder.progress" [attr.asi-tooltip]="'Select file'"
      [(ngModel)]="uploadableFolder.fileToUpload">
    </asi-file-chooser>
    <asi-button id="web_upload_file" [disabled]="!uploadableFolder.fileToUpload || uploadableFolder.progress"
      class="icon-action-button" (click)="!uploadableFolder.progress && uploadFile(uploadableFolder)">
      <i class="fas fa-upload"></i>
      <span>upload</span>
    </asi-button>
  </div>
</div>
