<form [formGroup]="newFolderForm" class="flex-row col-center static panel" (ngSubmit)="createFolder()">
  <div class="flex-column row-start">
    <asi-input labelPosition="left" label="Name" formControlName="libelle"></asi-input>
    <asi-input labelPosition="left" label="Path" formControlName="path"></asi-input>
  </div>
  <asi-button type="submit">Add</asi-button>
</form>

<div class="uploadable-folder-container">

  <div class="uploadable-folder" *ngFor="let uploadableFolder of uploadableFolders; let i = index">
    <div class="flex-row space-between">
      <strong>{{uploadableFolder.folder.libelle}}</strong>
      <i class="far fa-edit clickable icon-action"></i>
    </div>
    <span>{{uploadableFolder.folder.path}}</span>

    <asi-file-chooser name="file" [accept]="acceptedFiles" [(ngModel)]="uploadableFolder.fileToUpload">
    </asi-file-chooser>
    <asi-button id="web_upload_file" class="icon-action-button" (click)="uploadFile(uploadableFolder)">
      <i class="far fa-trash-alt"></i>
      <span>upload</span>
    </asi-button>
  </div>

</div>
